{% extends 'base.html.twig' %}

{% block title %}Hello NouvSignalListActionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


        <div class="container-header">

        <a href="{{ path('app_nouv_signal_desc_signal') }}"  class="btn-header-CreaSignal-inactif">Description du signal</a>
        <a href="{{ path('app_nouv_signal_suivi_signal') }}" class="btn-header-CreaSignal-inactif">Suivi du signal</a>
        <a href="{{ path('app_nouv_signal_list_action') }}" class="btn-header-CreaSignal-actif">Liste des actions/mesures</a>

        </div> 

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/www_htdocs/ReuSi/src/Controller/NouvSignalListActionController.php'|file_link(0) }}">src/Controller/NouvSignalListActionController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/www_htdocs/ReuSi/templates/nouv_signal_list_action/index.html.twig'|file_link(0) }}">templates/nouv_signal_list_action/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
