{% extends 'base.html.twig' %}

{% block title %}RéuSi - Nouveau signal{% endblock %}

{% block body %}

{{ encore_entry_link_tags('ReuSi_Header_CreaSignal') }}

<div class="container-header">

  <a href="{{ path('app_nouv_signal_desc_signal') }}"  class="btn-header-CreaSignal-actif" id="btn-1">Description du signal</a>
  <a href="{{ path('app_nouv_signal_suivi_signal') }}" class="btn-header-CreaSignal-inactif" id="btn-2">Suivi du signal</a>
  <a href="{{ path('app_nouv_signal_list_action') }}" class="btn-header-CreaSignal-inactif" id="btn-3">Liste des actions/mesures</a>

</div>  

{# {{ form(form) }} #}

<div class="container-fluid p-5">
    {# {{ form(signal_desc_form) }} #}
    {{form_start(signal_desc_form)}}


    <div id="onglet_1" class="onglet-aff">
      {% include 'nouveau_signal/nouv_signal_desc_signal.html.twig' %}
    </div>

    <div id="onglet_2" class="onglet-mask">
      {% include 'nouveau_signal/nouv_signal_suivi_signal.html.twig' %}
    </div>

    <div id="onglet_3" class="onglet-mask">
      {% include 'nouveau_signal/nouv_signal_mesure_signal.html.twig' %}
    </div>

    {{form_end(signal_desc_form,{render_rest: true}) }}
</div>

  
{% endblock %}


{% block javascripts %}
  {{ encore_entry_script_tags('ReuSi_Header_CreaSignal_js') }}
{% endblock %}
