{% extends 'base.html.twig' %}

{% block title %}Hello NouvSignalSuiviSignalController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
        <div class="container-header">

        <a href="{{ path('app_nouv_signal_desc_signal') }}"  class="btn-header-CreaSignal-inactif">Description du signal</a>
        <a href="{{ path('app_nouv_signal_suivi_signal') }}"  class="btn-header-CreaSignal-actif">Suivi du signal</a>
        <a href="{{ path('app_nouv_signal_list_action') }}" class="btn-header-CreaSignal-inactif">Liste des actions/mesures</a>

        </div> 
<div class="example-wrapper">
    {{ form(suivi_form) }}
    {{ form_start(releve_form) }}

    <div {{ stimulus_controller('collection') }}
    data-collection-index-value="{{ releve_form.mesures|length > 0 ? releve_form.mesures|last.vars.name + 1 : 0 }}"
    data-collection-prototype-value="{{ form_widget(releve_form.mesures.vars.prototype)|e('html_attr') }}">

    <ul {{ stimulus_target('collection', 'collectionContainer') }}></ul>
    <button type="button" {{ stimulus_action('collection', 'addCollectionElement') }}>Add a tag</button>
    </div>
    
    {{ form_end(releve_form) }}
</div>
{% endblock %}