{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block stylesheets %}
    {# {{ parent() }} #}
    {{ encore_entry_link_tags('ReuSi') }}
            {# {{ encore_entry_link_tags('app') }} #}
{% endblock %}

        {# {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
{% block body %}


<body>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="crea_nouv_signal-tab" data-bs-toggle="tab" data-bs-target="#crea_nouv_signal-tab-pane" type="button" role="tab" aria-controls="crea_nouv_signal-tab-pane" aria-selected="true">Création d'un nouveau signal</button>
        </li>

        <li class="nav-item" role="presentation">
        <button class="nav-link" id="crea_nouv_suivi-tab" data-bs-toggle="tab" data-bs-target="#crea_nouv_suivi-tab-pane" type="button" role="tab" aria-controls="crea_nouv_suivi-tab-pane" aria-selected="false">Création d'un nouveau suivi</button>
        </li>

        <li class="nav-item" role="presentation">
        <button class="nav-link" id="rech_signal-tab" data-bs-toggle="tab" data-bs-target="#rech_signal-tab-pane" type="button" role="tab" aria-controls="rech_signal-tab-pane" aria-selected="false">Recherche d'un signal</button>
        </li>

        <li class="nav-item" role="presentation">
        <button class="nav-link" id="reu_sig_nouv_signaux-tab" data-bs-toggle="tab" data-bs-target="#reu_sig_nouv_signaux-tab-pane" type="button" role="tab" aria-controls="reu_sig_nouv_signaux-tab-pane" aria-selected="false">Réunion signal / nouveaux signaux</button>
        </li>

        <li class="nav-item" role="presentation">
        <button class="nav-link" id="reu_sig_nouv_suivi-tab" data-bs-toggle="tab" data-bs-target="#reu_sig_nouv_suivi-tab-pane" type="button" role="tab" aria-controls="reu_sig_nouv_suivi-tab-pane" aria-selected="false">Réunion signal / nouveaux suivis</button>
        </li>

        <li class="nav-item" role="presentation">
        <button class="nav-link" id="reu_sig_suivi_actions-tab" data-bs-toggle="tab" data-bs-target="#reu_sig_suivi_actions-tab-pane" type="button" role="tab" aria-controls="reu_sig_suivi_actions-tab-pane" aria-selected="false">Réunion signal / suivi des actions</button>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="crea_nouv_signal-tab-pane" role="tabpanel" aria-labelledby="crea_nouv_signal-tab" tabindex="0">Création d'un nouveau signal Création d'un nouveau signal Création d'un nouveau signal Création d'un nouveau signal Création d'un nouveau signal</div>

        <div class="tab-pane fade" id="crea_nouv_suivi-tab-pane" role="tabpanel" aria-labelledby="crea_nouv_suivi-tab" tabindex="0">Création d'un nouveau suivi Création d'un nouveau suivi Création d'un nouveau suivi Création d'un nouveau suivi Création d'un nouveau suivi Création d'un nouveau suivi </div>

        <div class="tab-pane fade" id="rech_signal-tab-pane" role="tabpanel" aria-labelledby="rech_signal-tab" tabindex="0">Recherche d'un signal Recherche d'un signal Recherche d'un signal Recherche d'un signal Recherche d'un signal Recherche d'un signal Recherche d'un signal Recherche d'un signal Recherche d'un signal </div>

        <div class="tab-pane fade" id="reu_sig_nouv_signaux-tab-pane" role="tabpanel" aria-labelledby="reu_sig_nouv_signaux-tab" tabindex="0">Réunion signal / nouveaux signaux Réunion signal / nouveaux signaux Réunion signal / nouveaux signaux Réunion signal / nouveaux signaux Réunion signal / nouveaux signaux Réunion signal / nouveaux signaux Réunion signal / nouveaux signaux </div>

        <div class="tab-pane fade" id="reu_sig_nouv_suivi-tab-pane" role="tabpanel" aria-labelledby="reu_sig_nouv_suivi-tab" tabindex="0">Réunion signal / nouveaux suivis Réunion signal / nouveaux suivis Réunion signal / nouveaux suivis Réunion signal / nouveaux suivis Réunion signal / nouveaux suivis </div>

        <div class="tab-pane fade" id="reu_sig_suivi_actions-tab-pane" role="tabpanel" aria-labelledby="reu_sig_suivi_actions-tab" tabindex="0">Réunion signal / suivi des actions Réunion signal / suivi des actions Réunion signal / suivi des actions Réunion signal / suivi des actions Réunion signal / suivi des actions </div>

    </div>




<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/www_htdocs/ReuSi/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/www_htdocs/ReuSi/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code></li>
    </ul>
</div>

    {# {{ encore_entry_script_tags('app') }} #}

{% endblock %}
