<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}


        {{ encore_entry_link_tags('app') }}
            {# {{ parent() }} #}
            {{ encore_entry_link_tags('ReuSi') }}
            {{ encore_entry_link_tags('ReuSi_Header') }}
        {% block stylesheets %}
        {% endblock %}


        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <div class="container-header">

        <a href="{{ path('app_nouv_signal_desc_signal') }}" class="btn-header" id="nouv_signal_">Création d'un nouveau signal</a>
        <a href="{{ path('nouveau_suivi') }}" class="btn-header" id="nouveau_suivi">Création d'un nouveau suivi</a>
        <a href="{{ path('recherche_signal') }}" class="btn-header" id="recherche_signal">Recherche d'un signal</a>
        <a href="{{ path('reunion_nouveaux_signaux') }}" class="btn-header" id="reunion_nouveaux_signaux">Réunion signal / Nouveaux signaux</a>
        <a href="{{ path('reunion_nouveaux_suivis') }}" class="btn-header" id="reunion_nouveaux_suivis">Réunion signal / Nouveaux suivis</a>
        <a href="{{ path('reunion_nouveaux_suivi_actions') }}" class="btn-header" id="reunion_nouveaux_suivi_actions">Réunion signal / Suivi des actions</a>

        </div>


        {% block body %}
        {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('ReuSi_js') }}
    {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>  #}
    </body>
</html>
